<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
    <span>Finance System</span>
    <span class="example-spacer"></span>
    <button mat-flat-button color="accent" (click)="redirectToLogin()">Login</button>
    <button mat-flat-button color="accent" (click)="redirectToRegister()">Register</button>

    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>