.order-overlay {
    /* background-color: lightgreen; */
    z-index: 1;
    position:fixed;
    width: 100vw;
    height: 100vw;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.4);
}
.order-popup {
    animation-name: slide-effect;
    animation-duration: .5s;
    height: 450px;
    width:500px;
    margin:auto;
    position: relative;
    top:150px;
    padding: 30px;
    background-color:white;
    border:1px solid gray;
}
.payment-popup .close-btn {
    position: absolute;
    top:10px;
    right:20px;
    font-size:25px;
}
.payment-popup .close-btn {
    color: gray;
}
.payment-popup .close-btn:hover {
    color:red;
    cursor:pointer;
}