<form class="passwordcontainer">
    <div class="container">

        <h1>Enter New Password</h1>
        <form>
            <div class="fg">
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="Enter your new password" name="newPassword" [(ngModel)]="newPassword" required>
                    <mat-error *ngIf="newPasswordError">{{newPasswordError}}</mat-error>
                </mat-form-field>
            </div>
            <!-- <div class="fg">
            <h4>Enter New Password</h4>
            <label for="t1"><b>New Password</b></label>
            <input type="text"  name="t1" [(ngModel)]="newPassword">
            <div class="err" *ngIf="newPasswordError">{{newPasswordError}}</div>
        </div> -->

            <div class="fg">
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="ReEnter your new password" name="confirmPassword" [(ngModel)]="confirmPassword" required>
                    <mat-error *ngIf="confirmPasswordError">{{confirmPasswordError}}</mat-error>
                </mat-form-field>
            </div>
            <!-- <div class="fg">
            <label for="t2"><b>Confirm Password</b></label>
            <input type="text"  name="t2" [(ngModel)]="confirmPassword">
            <div class="err" *ngIf="confirmPasswordError">{{confirmPasswordError}}</div>
        </div> -->
            <!-- <div>
        <button type="Click" class="btn" (click)="validateFields()">Update</button>
    </div> -->
            <div class="loginbtn">
                <button mat-raised-button color="primary" type="click" (click)="validateFields()">Update</button>
            </div>
        </form>
    </div>
</form>