<form class="forgetcontainer">
    <div class="container">
        <div class="fg">
            <h4>Enter New Password</h4>
            <label for="t1"><b>New Password</b></label>
            <input type="text"  name="t1" [(ngModel)]="newPassword">
            <div class="err" *ngIf="newPasswordError">{{newPasswordError}}</div>
        </div>
        <div class="fg">
            <label for="t2"><b>Confirm Password</b></label>
            <input type="text"  name="t2" [(ngModel)]="confirmPassword">
            <div class="err" *ngIf="confirmPasswordError">{{confirmPasswordError}}</div>
        </div>
        <button type="Click" class="btn" (click)="validateFields()">Update</button>
    </div>
</form>