<div class="container" *ngIf="profileStatus!=undefined && profileStatus!=ProfileStatus_Accepted">

    <p *ngIf="profileStatus==ProfileStatus_Permanently_Deativated">You account is Rejected due to {{reason}}</p>
    <div *ngIf="profileStatus != ProfileStatus_Permanently_Deativated">
        <p *ngIf="profileStatus == ProfileStatus_Pending">Your account verification status is still <span class="pending">pending</span></p>
        <p *ngIf="profileStatus == ProfileStatus_Rejected">Your account is <span class="rejected">rejected</span> due to {{reason}}</p>
        <p>You may not be able to buy products until your account is approval</p>
    </div>
</div>