<form class="login-container main-container">
        <div class="fg">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname">
        </div>
        <div class="fg">
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw">
        </div>

        <button type="submit" class="btn" (click)="redirectToDashboard()">Login</button>
        <label>
    <input type="checkbox" name="remember"> Remember me
  </label>
        <div class="btnDiv">
            <span class="psw"><a href="">Forgot password?</a></span>
        </div>
        <div class="Last">
            <span class="psw1">New User?<a routerLink="/register">Register User</a></span> 
        </div>
</form>