.login-container{
    width: 500px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* after that i used to indicate the input values*/

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* style the login button*/

/*this last class is used for cancel & forget container to organised*/

.btnDiv {
    padding-bottom: 20px;
    margin: auto;
    width: 450px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
span.psw1 {
    float: auto;
    padding-top: 16px;
}
.Last {
    padding: 20px;
    margin: auto;
    width: 450px;
}