.logincontainer{
    width: 500px;    
    margin: auto;
    margin-top: 10%;
    border:2px solid rgb(173, 172, 172);
    border-radius: 8px;
    padding: 20px;
}
/* 
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
} */
/* after that i used to indicate the input values*/
/* 
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
} */
/* style the login button*/

/*this last class is used for cancel & forget container to organised*/

 

.psw {
    float: right;
    padding-top: 0px;
    display:block;
}
.psw1 {
    float: auto;
    padding-top: 16px;
}
.psw2{
    float:right;
}
.Last {
    padding: 10px;
 text-align: center;
 
}
.nu {
    text-decoration: none;
}

.loginbtn{
    display: block;
    margin:auto;
}

.err{
    text-align: end;
    color: red;
}


.fg, .fg mat-form-field{
    width: 100%;
}

h1{
    text-align: center;
    font-weight: bold;
}

.loginbtn button{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
