/* .header {
    background-color: #F1F1F1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: black;
}

.footer {
    background-color: #F1F1F1;
    padding: 10px;
    text-align: center;
}

.card {
    margin: auto;
    text-align: center;
    font-family: arial;
    display: inline-block;
    margin: 20px;
} */