<h2>Our Products</h2>
<app-account-warning></app-account-warning>
<div class="sort">
    <button mat-stroked-button color="primary" *ngIf="!lth" (click)="fetchByLowToHighPrice()">Low To High</button>
    <button mat-raised-button color="primary" *ngIf="lth" (click)="fetchByLowToHighPrice()">Low To High</button>
    <button mat-stroked-button color="primary" *ngIf="!htl" (click)="fetchByHighToLowPrice()">High To Low</button>
    <button mat-raised-button color="primary" *ngIf="htl" (click)="fetchByHighToLowPrice()">High To Low</button>
</div>
<div class="tab">
    <button (click)="fetchAllProducts()">All Products</button>
    <button (click)="fetchByCategory('Mobile')">Mobiles</button>
    <button (click)="fetchByCategory('Laptop')">Laptops</button>
    <button (click)="fetchByCategory('AC')">AC</button>
    <button (click)="fetchByCategory('Wrist Watch')">Wrist Watches</button>
</div>
<div class="tabcontent">
    <div class="card" *ngFor="let p of products">
        <img src="http://localhost:8181/downloads/{{ p.productImage }}">
        <p>{{p.productName}}</p>
        <p>{{p.productDescription}}</p>
        <p>Price:{{p.productPrice}}</p>
        <button mat-raised-button color="primary" (click)="redirectToDescription(p.productId)">Buy now</button>
    </div>
</div>