<app-account-warning></app-account-warning>
<button class="btn" (click)="redirectToDashboard()">Dashboard</button>
<div class="tabProducts">
    <button class="All products btn" (click)="fetchAllProducts()">All Products</button>
</div>



<div class="tab">
    <button class="Mobiles" (click)="fetchByCategory('Mobile')">Mobiles</button>
    <button class="Laptops" (click)="fetchByCategory('Laptop')">Laptops</button>
    <button class="AC" (click)="fetchByCategory('AC')">AC</button>
    <button class="Wrist Watches" (click)="fetchByCategory('Wrist Watch')">Wrist Watches</button>
    <button class="Low to High" (click)="fetchByLowToHighPrice()">Low To High</button>
    <button class="High to Low" (click)="fetchByHighToLowPrice()">High To Low</button>
</div>

<div class="tabcontent">
    <div class="card" *ngFor="let p of products">
        <img src="{{baseUrl}}/downloads/{{ p.productImage }}">
        <p>Product Name:{{p.productName}}</p>
        <p>Product Details:{{p.productDescription}}</p>
        <p>Product Price:{{p.productPrice}}</p>
        <button class="btn product-btn" (click)="redirectToDescription(p.productId)">Buy now</button>
    </div>
</div>