.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 300px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    margin: auto;
    padding: 10px;
    font-size: small;
}

.card img {
    height: 40%;
    object-fit: cover;
}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 150px;
    height: fit-content;
}

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.tabcontent {
    text-align: center;
    padding: 10px;
    margin: 8px;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: azure;
    height: 80%;
}

.tabProducts {
    align-self: center;
}

.products {
    margin-left: 200px;
}

.head {
    text-align: center;
    font-weight: bold;
    font-size: 4pc;
}

.tabcontent img {
    height: 40%;
    object-fit: cover;
}