<div class="heading">
    <p class=".heading1">Hello admin</p>
</div>
<div class="mainbody">
<div class="sample-product main-container">
    <img src="/assets/pending.jpg" class="image">
<button class="btn product-btn" (click)="redirectToPendingRequest()">Pending users</button></div>

<div class="sample-product1 main-container">
    <img src="/assets/accepted.jpg" class="image">
<button class="btn product-btn" (click)="fetchUsers()">Accepted users</button></div>

<div class="sample-product2 main-container">
    <img src="/assets/products.png" class="image">
<button class="btn product-btn" (click)="insertProduct()">Add Product</button></div>
</div>


    
    