.dashboard-container {
    width: 800px;
}
.userDetailsBox {
    margin: auto;
    width:380px;
    height: 200px;
    background-image: url("/assets/credit_card.png");
    background-repeat: no-repeat;
    background-size: 400px 200px;
    color:gold;
    font-size: 24px;
    font-family: calibri;
}
.userDetailsBox :not(.status) {
    padding: 7px 10px ;
}
.products-purchased {
   
    
}
.card-details {
    
}
.card-type {
    position: relative;
    left:250px;
    bottom:120px;
}
.card-user-name {
    position: relative;
    left: 120px;
    bottom:47px;
}
.card-expiry-date {
    position: relative;
    left:160px;
    top:63px;
}
.card-no {
    position: relative;
    left:100px;
    top:103px;
}
.status {
    text-align: center;
    padding: 10px;
    background-color: limegreen;
}
.products-header{
    text-align: center;
}
.buy-products-btn {
    float: right;
}
.transactions-tbl, th,td {
    border:1px solid black;
    border-collapse: collapse;
    width: 500px;
    height: 30px;
}
.transactions-tbl th, td{
    padding:10px;
    text-align: center;
}


.loginbtn{
    display: block;
    margin:auto;
}