@keyframes slide-effect {
    from {
        margin-top: 400px;
    }
    to {
        margin-top: 0;
    }
}

.dashboard-container {
    width: 900px;
    height: 700px;
    box-shadow: none;
}
.userDetailsBox {
    margin: auto;
    width:350px;
    height: 200px;
    background-image: url("/assets/credit_card1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px 200px;
    color:gold;
    font-size: 24px;
    box-shadow: 10px 10px 10px gray;
    /* outline: 1px solid black; */
}
.userDetailsBox :not(.status) {
    padding: 7px 10px ;
}

.card-balance-progress-bar {
    width: 400px;
    height: 50px;
}
.progress-bar {
    width: fit-content;
    padding: 35px 10px;
    margin: auto;
    
}
.progress-bar-value {
    width: 390px;
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: red;
    /* outline: 1px solid black; */
}
.progress-bar-value .credit-balance {
    float: right;
    position: relative;
    right: 17px;
    color: green;
}
.progress-bar .credit-total {
    font-size: 20px;
    position: relative;
    bottom: 16px;
    left: 10px;
    color:#136bf0;
}


.order-overlay {
    /* background-color: lightgreen; */
    z-index: 1;
    position:fixed;
    width: 100vw;
    height: 100vw;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.4);
}
.order-popup, .payment-popup {
    animation-name: slide-effect;
    animation-duration: .5s;
    width:500px;
    margin:auto;
    position: relative;
    top:150px;
    padding: 30px;
    background-color:white;
    border:1px solid gray;
}
.order-popup {
    height: 550px;
}
.payment-popup {
    height: 350px;
}
.close-btn {
    position: absolute;
    top:10px;
    right:20px;
    font-size:25px;
    color: gray;
}
.close-btn:hover {
    color:red;
    cursor:pointer;
}
.card-type {
    position: relative;
    left:250px;
    bottom:120px;
}
.card-user-name {
    position: relative;
    left: 60px;
    bottom:47px;
}
.card-expiry-date {
    position: relative;
    left:140px;
    top:63px;
}
.card-no {
    position: relative;
    left:80px;
    top:103px;
}
.status {
    text-align: center;
    padding: 10px;
    background-color: limegreen;
}
.products-header{
    text-align: center;
}
.buy-products-btn {
    float: right;
}
.transactions-tbl, th,td {
    border:1px solid black;
    border-collapse: collapse;
    width: 500px;
    height: 30px;
}
.transactions-tbl th, td{
    padding:10px;
    text-align: center;
}


.loginbtn{
    display: block;
    margin:auto;
}
.order-card {
    border:1px solid lightgray;
    border-radius: 5px;
}
.order-card:hover {
    opacity:.8;
    box-shadow: 4px 4px lightgray;
    cursor: pointer;
}
.order-card ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(70px,auto);
}

.order-card li {
    /* outline:1px solid black; */
    text-align: center;
}

.product-name {
    font-size: 35px;
    text-align: center;
    align-self: center;
    grid-row-start: 1;
    grid-row-end: 3;
}
.amount-balance {
    grid-row: 1/3;
    align-self: center;
}
.installment-no {
    align-self: center;
}
.product-price {
    align-self: center;
}
.order-card .labels {
    display: block;
}
.order-card .values {
    font-style: italic;
    color:red;
}
.pay-btn {
    margin-top: 8px;
}
.pay-btn[disabled] {
    background-color: lightgray;
}