<div class="dashboard-container main-container">
<div class="userDetailsBox">
    <p class="card-no">{{cardNo}}</p>
    <p class="card-expiry-date">{{exp}}</p>
    <p class="card-type">{{cardType}}</p>
    <p class="card-user-name">{{userName}}</p>
</div>
<div class="card-details">
    <p>Total Credit:{{cardLimit}}</p>
    <p>Credit Used:{{cardCreditUsed}}</p>
    <p>Remaining Credit:{{cardBalance}}</p>
    <button class="buy-products-btn btn" (click)="redirectToProducts()">Buy Products</button>
</div>
<div class="products-purchased">
    <h2 class="products-header">Products Purchased</h2>
    <p>ProductName:{{productName}}</p>
    <p>Product Price:{{productPrice}}</p>
    <p>Amount Paid:{{amountPaid}}</p>
    <p>Amount Balance:{{amountBalance}}</p>
</div>
<table class="transactions-tbl" cell>
    <tr>
        <th>Product</th>
        <th>Date</th>
        <th>Amount Paid</th>
    </tr>
    <tr>
        <td>{{productName}}</td>
        <td>{{purchaseDate}}</td>
        <td>{{amountPaid}}</td>
    </tr>
</table>
</div>