<div class="dashboard-container main-container">
    <button class="btn btn1" (click)="getOrderDetails()">Product Purchased</button>
<div class="userDetailsBox">
    <p class="card-no">{{cardDetails.cardNo}}</p>
    <p class="card-expiry-date">{{exp}}</p>
    <p class="card-type">{{cardDetails.cardType}}</p>
    <p class="card-user-name">{{cardDetails.userName}}</p>
</div>
<!-- <div class="card-details">
    <p>Total Credit:<span class="values">{{cardLimit}}</span></p>
    <p>Credit Used:<span class="values">{{cardCreditUsed}}</span></p>
    <p>Remaining Credit:<span class="values">{{cardBalance}}</span></p>
</div> -->
<div class="progress-bar">
<div class="progress-bar-value">
    <span class="credit-used">{{cardDetails.cardCreditUsed}}&#8377;</span>
    <span class="credit-balance">{{cardDetails.cardBalance}}&#8377;</span>
</div>
<progress class="card-balance-progress-bar" [value]="cardDetails.cardCreditUsed" [max]="cardDetails.cardLimit"></progress><span class="credit-total">{{cardDetails.cardLimit}}&#8377;</span>
</div>

<div *ngIf="showOrderPopup===true" class="order-overlay">
    <div class="order-popup" (disappear)="hideOrderBox()">
        <span class="close-btn">&times;</span>
        <h1>Order Info</h1>
        <p>Order Id:{{selectedOrder.orderId | replaceNullWithText}}</p>
        <p>Product Name:{{selectedOrder.productName | replaceNullWithText}}</p>
        <p>Product Price:{{selectedOrder.productPrice | replaceNullWithText}}&#8377;</p>
        <p>EMI Months Paid:{{selectedOrder.emiMonthsPaid | replaceNullWithText}}</p>
        <p>Monthly EMI Amount:{{selectedOrder.monthlyEmiAmount | replaceNullWithText}}&#8377;</p>
        <p>Tenure Period:{{selectedOrder.tenurePeriod | replaceNullWithText}} Months</p>
        <p>Purchase Date:{{selectedOrder.purchaseDate | replaceNullWithText}}</p>
        <p>Amount Paid:{{selectedOrder.amountPaid | replaceNullWithText}}&#8377;</p>
        <p>Amount Balance:{{selectedOrder.amountBalance | replaceNullWithText}}&#8377;</p>
        <p>Pending Installment No:{{selectedOrder.installmentNo | replaceNullWithText}}</p>
        <p>Due Date:{{selectedDueDate | replaceNullWithText}}</p>
    </div>
</div>

<div *ngIf="activeOrders" class="orders-container">
    <div *ngFor="let activeOrder of activeOrders; let i=index" class="order-card" name="orderInfo" (click)="showBox(activeOrder)">
        <ul>
            <li class="product-name">{{activeOrder.productName | replaceNullWithText}}</li>
            <li class="product-price"><span class="labels">Price</span><span class=values>{{activeOrder.productPrice | replaceNullWithText}}&#8377;</span></li>
            <li class="installment-no"><span *ngIf="!activeOrder.pending">No Pending Installment</span><span [hidden]="!activeOrder.pending">Installment {{activeOrder.installmentNo}} Pending</span></li>
            <li class="amount-balance"><span class="labels">Amount Remaining</span><span class="values">{{activeOrder.amountBalance | replaceNullWithText}}&#8377;</span></li>
            <li class="monthly-emi-amount"><span class="labels">EMI Amount</span><span class="values">{{activeOrder.monthlyEmiAmount | replaceNullWithText}}&#8377;/per month</span></li>
            <li class="due-date"><span *ngIf="!activeOrder.pending">Current Installment Paid</span> <span [hidden]="!activeOrder.pending">Pay Before:</span> <span [hidden]="!activeOrder.pending" class="values">{{dueDates[i]}}</span><span><button [disabled]="!activeOrder.pending" class="btn pay-btn" name="payButton" (click)="redirectToPayment(activeOrder)">Pay Now</button></span></li>
        </ul>
    </div>
    <!-- <div class="products-purchased">
        <h2 class="products-header">Products Purchased</h2>
    </div>
    </div> -->

    <!-- <app-order-history></app-order-history> -->
</div>


