<!-- 
 <div *ngFor="let user of users" class="card"> 
     <img src="/assets/accepted.jpg">
        <p>Name: {{user.userName}}</p>
    <p>Mobile no: {{user.mobileNo}}</p>
    <p>Email id: {{user.emailId}}</p>
    <p>Address : {{user.address}}</p>
    <p>Date of birth{{user.dob}}</p>
    <a href="http://localhost:8223/downloads/{{ user.aadharCard }}" target="_blank">aadharCard</a><br>
    <a href="http://localhost:8223/downloads/{{user.panCard}}" target="_blank">Pancard</a><br>
    <a href="http://localhost:8223/downloads/{{user.cancelledCheque}}"target="_blank">cancelledCheque</a>
    <button (click)="view(user.userName)">click here</button>
      
        <br />
        <br> -->


        <div class="searchBoxDiv">
            <input type="text" placeholder="Search By Name:" (input)="display()"name="userName" [(ngModel)]="userName" class="searchBox" style="height:40px;font-size:14pt;padding-left: 15px;" size="60"/>
            </div>
            <div class="main_card_div">
                <div *ngFor="let user1 of users1" class="card" > 
                  <img src="/assets/accepted.png" >
                  <div class="sub_card_div">
                     <p><b> Name :</b> {{user1.userName}}</p>
                 <p><b>Mobile No :</b> {{user1.mobileNo}}</p>
                 <p><b>Email Id :</b> {{user1.emailId}}</p>
                 <p><b>Address :</b> {{user1.address}}</p>
                 <p><b>Date of Birth :</b> {{user1.dob}}</p>
                </div>
                 <!-- <a href="http://localhost:8223/downloads/{{ user1.aadharCard }}">aadharCard</a><br>
                 <a href="http://localhost:8223/downloads/{{user1.panCard}}" >Pancard</a><br>
                 <a href="http://localhost:8223/downloads/{{user1.cancelledCheque}}">cancelledCheque</a> -->
                  <!-- <button (click)="acceptUser(user1.userName)">Accept</button><br><br>
                  <button (click)="rejectUser(user1.userName)">Reject</button> -->
                  <button class="hvr-shutter-in-horizontal" (click)="view(user1)">Verify Documents</button>
                  </div>
                  </div>
            
                <div *ngIf="displayAll">
             <div *ngFor="let user of users" class="card" > 
                <img src="/assets/accepted.png" >
                <div class="sub_card_div">

                   <p><b>Name :</b> {{user.userName}}</p>
               <p><b>Mobile no :</b> {{user.mobileNo}}</p>
               <p><b>Email Id :</b> {{user.emailId}}</p>
               <p><b>Address :</b> {{user.address}}</p>
               <p><b>Date of Birth :</b> {{user.dob}}</p>
               </div>
               
               <!-- <a href="http://localhost:8223/downloads/{{ user.aadharCard }}">aadharCard</a><br>
               <a href="http://localhost:8223/downloads/{{user.panCard}}" >Pancard</a><br>
               <a href="http://localhost:8223/downloads/{{user.cancelledCheque}}">cancelledCheque</a> -->
                <!-- <button (click)="acceptUser(user.userName)">Accept</button><br><br>
                <button (click)="rejectUser(user.userName)">Reject</button> -->
                <button class="hvr-shutter-in-horizontal" (click)="view(user)">Verify Documents</button>
                </div></div>
               
            
                 
                   <br />
                   <br>
