
 <div *ngFor="let user of users" class="card"> 
     <img src="/assets/accepted.jpg">
        <p>Name: {{user.userName}}</p>
    <p>Mobile no: {{user.mobileNo}}</p>
    <p>Email id: {{user.emailId}}</p>
    <p>Address : {{user.address}}</p>
    <p>Date of birth{{user.dob}}</p>
    <a href="http://localhost:8223/downloads/{{ user.aadharCard }}" >aadharCard</a><br>
    <a href="http://localhost:8223/downloads/{{user.panCard}}" >Pancard</a><br>
    <a href="http://localhost:8223/downloads/{{user.cancelledCheque}}">cancelledCheque</a>
      
        <br />
        <br>
