.sample-product{
    width: 500px;
    height: 650px;
}
.btn1{
    float: right;
    margin-right: 20px;
    height:50px;
    width: 80px;
}
.product-btn {
    height: 50px;
    width: 300px;
}
/* .sample-product p {
    float: right;
}
.sample-product img {
    float: left;
} */