<form class="forgetcontainer">
    <div class="container">
        
        <div class="fg">
        <label for="t1"><b>Email ID</b></label>
        <input type="text" placeholder="Enter Email Id" name="t1" [(ngModel)]="email">
        <div class="err" *ngIf="emailError">{{emailError}}</div>
    </div>
    <button type="Click" class="btn" (click)="emailVerification()">GET OTP</button>
    <div class="fg">
        <label for="t2"><b>Enter OTP</b></label>
        <input type="number" placeholder="Enter OTP" name="t2" [(ngModel)]="otp">
        <div class="err" *ngIf="otpError">{{otpError}}</div>
    </div>
    <button type="Click" class="btn" (click)="otpVerification()">Verify OTP</button>
 </div>
</form>
