<form class="forgetcontainer">
    <div class="container">
        <h1>Reset Password</h1>

        <div class="fg">
            <mat-form-field appearance="outline">
                <mat-label>Email ID</mat-label>
                <input matInput placeholder="John@abc.com" name="email" [(ngModel)]="email" required>
                <mat-error *ngIf="emailError">{{emailError}}</mat-error>
            </mat-form-field>
        </div>
        <!-- <div class="fg">
        <label for="t1"><b>Email ID</b></label>
        <input type="text" placeholder="Enter Email Id" name="t1" [(ngModel)]="email">
        <div class="err" *ngIf="emailError">{{emailError}}</div>
    </div> -->
        <div class="loginbtn">
            <button *ngIf="!loading && !responseOtp" mat-raised-button color="primary" type="click" (click)="emailVerification()">GET OTP</button>
            <mat-spinner *ngIf="loading"></mat-spinner>
        </div>


        <p *ngIf='responseOtp' style="text-align: end; color: orangered;">OTP Sent</p>


        <!-- <button type="Click" class="btn" (click)="emailVerification()">GET OTP</button> -->

        <div class="fg" *ngIf='responseOtp'>
            <mat-form-field appearance="outline">
                <mat-label>Enter OTP</mat-label>
                <input matInput placeholder="Enter OTP" name="otp" [(ngModel)]="otp" required>
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <mat-error *ngIf="otpError">{{otpError}}</mat-error>
            </mat-form-field>
            <div class="loginbtn">
                <button mat-raised-button color="primary" type="click" (click)="otpVerification()">Verify OTP</button>
            </div>

        </div>

    </div>
</form>