<div class="register-container main-container">
    <form>
          <label>Name:</label>
          <input name="userName"  required type="text"   [(ngModel)]="user.userName"/><br/><br/>

          <label>Phone Number:</label>
          <input name="mobileNo"  required type="number"   [(ngModel)]="user.mobileNo"/><br/><br/>

          <label>Email:</label>
          <input name="emailId"  required  type="text" [(ngModel)]="user.emailId"/><br/><br/>

          <label>Address:</label>
          <input name="address"  required type="text"   [(ngModel)]="user.address"/><br/><br/>

          <label>Date Of Birth:</label>
          <input type="date" required name="dob" [(ngModel)]="user.dob" ><br /><br />

          <label>Password:</label>
          <input name="password"  required type="password"   [(ngModel)]="user.password"/><br/><br/>

          <label>Confirm Password:</label>
          <input name="confirmPassword"  required type="text" [(ngModel)]="confirmPassword"/><br/><br/>

          <label>Card Type:</label>
          <input name="cardType" value="Gold" type="radio"  [(ngModel)]="user.emiCard.cardType">Gold<br/><br/>
          <input name="cardType" value="Titanium" type="radio"  [(ngModel)]="user.emiCard.cardType">Titanium<br/><br/>

          <button class="btn" (click)="registerUser()">Next</button>
    </form>
</div>